html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  div > span {
    opacity: 0.15;
  }
  #I {
    opacity: 1;
    animation: flickerI 2s linear  reverse infinite;
  }
  
  #L{
    animation: flickerLG 2s linear reverse infinite;
    position: relative;
  }
  #L::after, 
  #L::before  {
    content:' ';
    width: 100px;
    height: 100px;
    background: var(--white);
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.05;
    filter: blur(10px);
  }
  #L::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -5%;
    opacity: 0.1;
    filter: blur(10px);
  }
  
  @keyframes flickerI {
    0% {
      opacity: 0.4;
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.6;
    }
    15% {
      opacity: 0.85;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.5;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0.85;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes flickerLG {
    0% {
      opacity: 0.19;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 0.25;
    }
    15% {
      opacity: 0.35;
    }
    25% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.4;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.35;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.4;
    }
  }
  @font-face {
    font-family: 'Espen Halloween';
    font-style: normal;
    src: local('Espen Halloween'), url('https://fonts.cdnfonts.com/s/45764/EspenHalloween.woff') format('woff');
  }
  
  body {
    background: rgb(0, 0, 0);
    --black: rgba(0, 0, 0, 0.9);
    
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    margin-top: -5%;
    position: relative;
    top: 80px;
    letter-spacing: 0.4em;
    font-family: 'Espen Halloween', sans-serif;
    font-size: 12vmin;
    font-weight: 1;
    color: white;
    z-index: 99;
  }
  a{
    color: white;
    text-decoration: none;
  }
  p {    
    font-family: 'Espen Halloween', sans-serif;
    text-align:right ;
    position:static;
    word-spacing: 10px;
    font-size: 5vmin;
    font-weight: 1;
    z-index: 100;
  }

  #spøkelse {
    transition: transform 1s;
    
    --size: 50vmin;
    width: var(--size);
    height: var(--size);
    z-index: 99;

  }
  
  #hode {
    width: 100%;
    height: 100%;
    
    background: white;
    border-radius: 50% 50% 10% 10%;
    z-index: 99;

  }
  
  #øyne {
    width: 100%;
    height: 30%;
    
    padding-top: 20%;
    
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    z-index: 99;

  }
  
  #øyne * {
    width: 30%;
    height: 100%;
    
    background: var(--black);
    border-radius: 50%;
    z-index: 99;

  }
  
  
  #venstre {
    transition: transform 0.3s;
  }
  
  #høyre {
    transition: transform 0.2s;
    
    width: 25%;
    height: 90%;
  }
  
  #munn {
    transition: transform 0.2s;
    
    width: 10%;
    height: 10%;
    
    margin: auto;
    margin-top: 15%;
    
    background: var(--black);
    border-radius: 50%;
  }
  
  #bumps {
    width: 100%;
    height: 30%;
    
    margin-top: -20%;
    
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  
  #bumps * {
    width: 25%;
    height: 100%;
    
    background: white;
    border-radius: 40%;
  }