/* Henter skrifttype fra url https://fonts.cdnfonts.com/s/45764/EspenHalloween.woff. */
@font-face {
    font-family: 'Espen Halloween';
    font-style: normal;
    src: local('Espen Halloween'), url('https://fonts.cdnfonts.com/s/45764/EspenHalloween.woff') format('woff');
  }

  /* Bruker 'Espen Halloween' som skriftstype */
  body{
    background-color: black;
  }
    h2{
      font-family:'Espen Halloween', sans-serif;
      color:aliceblue;
      text-transform: uppercase;
      font-size: 2rem ;
      line-height: 1.5;
      text-align: center;
    }

    a{
      color: red;
  font-family:'Espen Halloween', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
    }

    span{
      display: block;
    }

    /*Bruker https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_glowing_text*/ /* for å lyse opp teksten til å lyse.*/
    .glow{
      color:aliceblue;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
    }

  @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #610909, 0 0 50px #610909, 0 0 60px #610909, 0 0 70px #e60000;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #610909, 0 0 70px #610909, 0 0 80px #e60000;
  }
};