html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  
  
  .slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
    animation-name: kenburns;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
    animation-name: kenburns-1;
    z-index: 3;
  }
  
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 2;
  }
  
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
    animation-name: kenburns-3;
    z-index: 1;
  }
  
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
    animation-name: kenburns-4;
    z-index: 0;
  }
  
   @-webkit-keyframes 
  kenburns-1 {  0% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   1.5625% {
   opacity: 1;
  }
   23.4375% {
   opacity: 1;
  }
   26.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   98.4375% {
   opacity: 0;
   -webkit-transform: scale(1.21176);
   transform: scale(1.21176);
  }
   100% {
   opacity: 1;
  }
  }
   @keyframes 
  kenburns-1 {  0% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   1.5625% {
   opacity: 1;
  }
   23.4375% {
   opacity: 1;
  }
   26.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   98.4375% {
   opacity: 0;
   -webkit-transform: scale(1.21176);
   transform: scale(1.21176);
  }
   100% {
   opacity: 1;
  }
  }
  @-webkit-keyframes 
  kenburns-2 {  23.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   26.5625% {
   opacity: 1;
  }
   48.4375% {
   opacity: 1;
  }
   51.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @keyframes 
  kenburns-2 {  23.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   26.5625% {
   opacity: 1;
  }
   48.4375% {
   opacity: 1;
  }
   51.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @-webkit-keyframes 
  kenburns-3 {  48.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   51.5625% {
   opacity: 1;
  }
   73.4375% {
   opacity: 1;
  }
   76.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @keyframes 
  kenburns-3 {  48.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   51.5625% {
   opacity: 1;
  }
   73.4375% {
   opacity: 1;
  }
   76.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @-webkit-keyframes 
  kenburns-4 {  73.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   76.5625% {
   opacity: 1;
  }
   98.4375% {
   opacity: 1;
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  }
  @keyframes 
  kenburns-4 {  73.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   76.5625% {
   opacity: 1;
  }
   98.4375% {
   opacity: 1;
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  }
  
  @font-face {
    font-family: 'Espen Halloween';
    font-style: normal;
    src: local('Espen Halloween'), url('https://fonts.cdnfonts.com/s/45764/EspenHalloween.woff') format('woff');
  }
  
  body {
    background: rgb(10, 20, 50);
    --black: rgba(0, 0, 0, 0.9);
    
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    margin-top: -5%;
    position: relative;
    top: 80px;
    font-family: 'Espen Halloween', sans-serif;
    font-size: 12vmin;
    font-weight: 1;
    color: white;
    z-index: 99;
  }
  a{
    color: black;
    text-decoration: none;
  }
  p {    
    font-family: 'Espen Halloween', sans-serif;
    text-align: center;
    position: relative;
    top: 350px;
    word-spacing: 10px;
    font-size: 5vmin;
    font-weight: 1;
    z-index: 100;
  }